<html>
<head>
	<title>Web Order - Focus Distribusi Indonesia</title>
    <div th:replace="fragments/header :: header-css"/>  
	<script th:inline="javascript"
		src="../static/js/changepassworduser.js"
		th:src="@{js/changepassworduser.js}">
	</script>
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	
	<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form
				action="#"  
            	th:action="@{/changepassworduser}"
            	method="post">
                <fieldset>
                    <h1>Ganti Password</h1>
                    <div id="messageDiv" style="display: none;">
                        <div class="alert alert-info">
                        	Success.
                        </div>
                    </div>
                    <div id="alert" style="display: none;">
                        <div class="alert alert-danger">
                            Password don't Match.
                        </div>
                    </div>
                    
<!--					<div class="form-group">
                        <select 
                        	id="company"
                        	name="company"
                        	class="form-control input-lg">			    		
					          <option value="FDI">FDI</option>
					          <option value="FDN">FDN</option>
						</select>
                    </div>
-->                    
					<div class="form-group">
                        <input type="text" name="company" id="company" class="form-control input-lg"
                               placeholder="Company" required="true" th:value="${@environment.getProperty('wo.company.shortname')}"/>
                    </div>

                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-lg"
                               placeholder="Name" required="true" autofocus="true"/>
                        <input type="hidden" name="username" id="username" class="form-control input-lg"
                               placeholder="UserName"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="newpassword" id="newpassword" class="form-control input-lg"
                               placeholder="New Password" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="repassword" id="repassword" class="form-control input-lg"
                               placeholder="Confirm Password" required="true"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" 
                            	class="btn btn-lg btn-primary btn-block"
                            	onclick="return changePasswordUser(this)"
                            	value="Change Password"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                    <span id="messageInfo"
                    	th:utext="${messageInfo}"></span>
                </fieldset>
            </form>
        </div>
    </div>
    </div>
	<div th:replace="fragments/footer :: footer"/>
</body>
</html>