<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Web Order - Focus Distribusi Indonesia</title>
	<meta charset="UTF-8">
	</meta>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/history.css"/>
  	<script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/history.js"></script>

	<div th:replace="fragments/header :: header-css"/>

</head>

<body onload="onload()">

	<div th:replace="fragments/header :: header"/>
	
	<!-- <div class="bagianlogo" id="logo">
		<img style="padding-bottom: 30px; margin-top: 0; padding-left: 20px" src="images/logo.png" alt="" width="200" height="85px" />
	</div> -->
       	
	<div class="hist0">
		<h2>Histori Transaksi</h2>
		<input 
		   	id="company"
		   	type="hidden"
		   	th:value="${company}"/>
		<input 
		   	id="custId"
		   	type="hidden"
		   	th:value="${custId}"/>
		<p/>
		<h4>LIST PO FROM PO DATE : <label id="startOrderDate" th:text="${startOrderDate}"></label> – <label id="endOrderDate" th:text="${endOrderDate}"></label></h4>
		<p/>
		<table>
			<tr>
				<td style="vertical-align:top">
					<table style="border: 1px solid black" id="conftab">
						<thead>
						<tr>
							<th style="text-align:center; width:300px">No PO</th>
							<th style="text-align:center; width:150px">Tanggal PO</th>
							<th style="text-align:center; width:150px">Total</th>
							<th style="text-align:center; width:200px">Detail PO</th>
							<th style="text-align:center; width:200px">No Invoice</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="order : ${orders}" 
							th:attr="data-company=${order.company},
										data-orderid=${order.orderId},
										data-invoicenumber=${order.invoiceNumber},
										data-postatus=${order.invoiceStatus},
										data-notes=${order.notes},
										data-tonasemobil=${order.tonaseMobil},
										data-expedisi=${order.expedisi}">
							<td th:text="${order.poNumber}"></td>
							<td th:text="${order.orderDate}"></td>
							<td style="text-align:right" 
							    th:text="${#numbers.formatDecimal(order.totalPrice,0,'DEFAULT',0,'DEFAULT')}"></td>
							<td style="text-align:center" >
							  <input type="button" 
							  	value="Click Detail PO" 
							  	style="width:10em; color:blue; border:none; background-color:white;"
			                    th:onclick="'javascript:showdetail(this);'"/>
			                 </td> 
			                 <td style="text-align:center;"
			                 	id="cell_invoicenumber">
			                 </td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>
		<p/>
		<h4>LIST INVOICE FROM INVOICE DATE : <label id="startInvoiceDate" th:text="${startInvoiceDate}"></label> – <label id="endInvoiceDate" th:text="${endInvoiceDate}"></label></h4>
		<table>
			<tr>
				<td style="vertical-align:top">
					<table style="border: 1px solid black" id="conftabnonwo">
						<thead>
						<tr>
							<th style="text-align:center; width:300px">No PO</th>
							<th style="text-align:center; width:150px">Tanggal PO</th>
							<th style="text-align:center; width:150px">Total</th>
							<th style="text-align:center; width:200px">Detail PO</th>
							<th style="text-align:center; width:200px">No Invoice</th>
						</tr>
						</thead>
						<tbody id="detailNonWO"></tbody>
					</table>
				</td>
			</tr>
		</table>
	</div> <!-- div hist -->

	<!-- Modal Loading -->
	<div id="loading" class="modal-loading">
	
	  <div class="modal-content-loading">
	    <!-- <span class="close">&times;</span> -->
	    <img src="../static/images/loading.gif" 
	    	th:src="@{images/loading.gif}"
	    	width="42" height="42"/>
	    Please Wait, Loading Data...
	  </div>
	
	</div>

	<!-- The Modal PO-->
	<div id="myModal" class="modal">

		<div class="modal-body">
			<div id="closediv">
				<h4 >Detail Order <span class="close">&times;</span></h4>
				
			</div>
			<div id="poinfo">
				<table class="tpoinfo">
					 <tr>
						   <th style="width:150px">Nomor PO:</th>
							 <td id="cell_ponumber" style="width:200px"></td>
					 </tr>
					 <tr>
						   <th>Tanggal PO:</th>
							 <td id="cell_podate"></td>
					 </tr>
					 <tr>
						   <th>Status PO:</th>
							 <td id="cell_postatus"></td>
					 </tr>
					 <tr>
						   <th>Total Order:</th>
							 <td id="cell_totalorder"></td>
					 </tr>
					 <tr>
						   <th>Notes:</th>
							 <td id="cell_notes"></td>
					 </tr>
				</table>
			</div>
			<div id="rincian">
				<table class="trincian">
          			<thead>
					  <tr>
							<th style="text-align:center;">Code</th>
							<th style="text-align:center;">Product Name</th>
							<th style="text-align:center; width:50px">Unit</th>
							<th style="text-align:center;">Unit Price</th>
							<th style="text-align:center;">Quantity</th>
							<th style="text-align:center;">Total</th>
							<th style="text-align:center;">Nomor CO</th>
							<th style="text-align:center;">Tanggal CO</th>
							<th style="text-align:center;">Qty CO</th>
							<th style="text-align:center;">Order Status</th>
							<th style="text-align:center;">Nomor SO</th>
							<th style="text-align:center;">Tanggal SO</th>
							<th style="text-align:center;">Order Detail Status</th>
							<th style="text-align:center;">Qty SO</th>
							<th style="text-align:center;">Nomor DO</th>
							<th style="text-align:center;">Tanggal DO</th>
							<th style="text-align:center;">Qty DO</th>
						</tr>
					</thead>
					<tbody id="rincianorder"></tbody>
				</table>
			</div>

	  	</div>
	</div>
	
	<!-- The Modal Invoice-->
	<div id="modalInvoice" class="modal">

		<div class="modal-content">
			<div id="closedivInvoice">
				<h4>Detail Invoices <span id="closeInv" onclick="closeinvoice()" class="close">&times;</span></h4>		
			</div>
			<div id="invoiceinfo">
				<table>
					 <tr>
						   <th style="width:175px">Tanggal Invoice:</th>
							 <td id="cell_trxdate"
							 	style="text-align:right; width:150px"></td>
					 </tr>
					 <tr>
						   <th>Nomor Invoice:</th>
							 <td id="cell_invnumber"
							 	style="text-align:right"></td>
					 </tr>
					 <tr>
						   <th>Jumlah:</th>
							 <td id="cell_jumlah"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_diskon1"
					 	style="display: none;">
						   <th>Diskon 1:</th>
							 <td id="cell_diskon1"
							 	style="text-align:right"></td>
					 </tr> 
					 <tr id="row_diskon2"
					 	style="display: none;">
						   <th>Diskon 2:</th>
							 <td id="cell_diskon2"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_diskon3"
					 	style="display: none;">
						   <th>Diskon 3:</th>
							 <td id="cell_diskon3"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_diskon4"
					 	style="display: none;">
						   <th>Diskon 4:</th>
							 <td id="cell_diskon4"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_diskon5"
					 	style="display: none;">
						   <th>Diskon 5:</th>
							 <td id="cell_diskon5"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_diskon6"
					 	style="display: none;">
						   <th>Diskon 6:</th>
							 <td id="cell_diskon6"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_diskon7" 
					 	style="display: none;">
						   <th>Diskon 7:</th>
							 <td id="cell_diskon7"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_dpp"
					 	style="display: none;">
						   <th>DPP:</th>
							 <td id="cell_dpp"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_ppn"
					 	style="display: none;">
						   <th>PPN:</th>
							 <td id="cell_ppn"
							 	style="text-align:right"></td>
					 </tr>
					 <tr id="row_total"
					 	style="display: none;">
						   <th>TOTAL (INC. PPN 10%):</th>
							 <td id="cell_total"
							 	style="text-align:right;"></td>
					 </tr>
				</table>
			</div>
			<div id="detailInvoice">
				<table style="text-align:left">
          			<thead>
					  <tr>
							<th style="text-align:center; width:30px">No</th>
							<th style="text-align:center; width:100px">Kode Produk</th>
							<th style="text-align:center; width:200px">Name</th>
							<th style="text-align:center; width:100px">Qty</th>
							<th style="text-align:center; width:150px">Harga</th>
							<th style="text-align:center; width:150px">Amount</th>
						</tr>
					</thead>
					<tbody id="detailInvoices"></tbody>
				</table>
			</div>
	  	</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"/>

 <script>
		var modal = document.getElementById('myModal');
		var span = document.getElementsByClassName("close")[0];
		span.onclick = function() {
		    modal.style.display = "none";
		}
</script>  
	
</body>
</html>
