<!doctype html>
<html>
<head>
	<meta charset="utf-8"></meta>
	<title>Web Order - Focus Distribusi Indonesia</title>
    <div th:replace="fragments/header :: header-css"/>
	<link id="contextPathHolder" data-contextPath="${pageContext.request.contextPath}"/>
	<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"></link>
	<script th:src="@{js/jquery-1.11.3.min.js}"></script>
	<script th:src="@{js/bootstrap.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container" align="center" style="font-size: 100px">
<label style="font-size: 100px text-align= center">
Success
	</label>
	</div>
	<br></br><br></br>
</body>
</html>
