<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Web Order - Focus Distribusi Indonesia</title>
	<div th:replace="fragments/header :: header-css"/>
	<script th:inline="javascript"
		src="../static/js/report.js"
		th:src="@{js/report.js}">
	</script>
</head>
<body>

	<div th:replace="fragments/header :: header"/>
	<form 
		name="formReport"
		action="#" 
		th:action="@{/report}"
		th:object="${customer}"
		method="get">					
		<div>
			<h4>Periode</h4>
			<select 
			  	id="month"
			   	name="month">			    		
			    <option value="JAN">Januari</option>
			    <option value="FEB">Februari</option>		    		
			    <option value="MAR">Maret</option>
			    <option value="APR">April</option>		    		
			    <option value="MAY">Mei</option>
			    <option value="JUN">Juni</option>		    		
			    <option value="JUL">Juli</option>
			    <option value="AUG">Agustus</option>		    		
			    <option value="SEP">September</option>
			    <option value="OCT">Oktober</option>	    		
			    <option value="NOV">November</option>
			    <option value="DEC">Desember</option>
			</select>
              <input type="number" name="year" id="year"
                     placeholder="Year" 
                     value="2000"
                     min="2000" required="true"/>
              <input
              	id="company" 
              	th:field="*{company}"
              	type="hidden"/>
              <input
              	id="custId" 
              	th:field="*{custId}"
              	type="hidden"/>
              <button type="submit"
              	onclick="return viewReport()">
              	View Report
              	</button>
        </div>
        <div>
        	<iframe
        		id="reportFrame"
        		frameborder="0" 
        		style="overflow: hidden; height: 100%; width: 100%; position: absolute;" 
        		height="100%" 
        		width="100%"></iframe>
        </div>
	
	</form>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>