<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Web Order - Focus Distribusi Indonesia</title>
	<div th:replace="fragments/header :: header-css"/>
</head>
<body>

	<div th:replace="fragments/header :: header"/>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/resetpassword}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Reset All Password</h2>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Reset All Password</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>